header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #3b32db; }
  header #auth {
    margin-right: 3%;
    width: auto;
    display: flex;
    align-items: center; }
    header #auth ul li {
      list-style: none;
      text-decoration: none;
      display: inline-block;
      padding: 0.3rem; }
      header #auth ul li a {
        color: aliceblue;
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  header #logo {
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header #logo p {
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 1px;
      color: white;
      font-family: 'Courier New', Courier, monospace; }
      header #logo p .symb {
        color: #e3f706;
        margin-right: 0.5rem; }
